* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.focus,
bold {
  font-size: 1rem;
  /* font-weight: bold; */
  color: red;
}
em {
  color: rgb(13, 40, 13);
}
span {
  display: flex;
  gap: 5px;
}
ol li {
}
.box {
  border-radius: 200px;
}
span {
  display: block;
  margin: 5px;
}
